[2019-10-29 21:30] jgw96 opened #1 "Support Dark Mode"
## Goal
The component should detect when the browser is in dark mode and update the UI to match.

## Things to keep in mind
 - We should make sure our dark mode is accessible https://chrome.google.com/webstore/detail/accessibility-insights-fo/pbjjkligggfmakdaogkfomddhfmpjeni
- Colors should be [declared as css variables](https://github.com/pwa-builder/pwa-install/blob/master/src/pwa-install.ts#L21

[2019-10-29 21:33] jgw96 opened #2 "Display the start_url"
## Goal
The component should display the start_url listed in the apps manifest

## Reasoning
For security reasons, we think its important that the URL of the PWA the user is installing is very visible to the user, which makes it an ideal thing for us to show in the component

[2019-11-06 21:05] jgw96 opened #4 "Discuss publishing to webcomponents.org"

[2019-11-08 01:21] AdaRoseCannon opened #5 "Use a <dialog> element for div#installModal?"
Semantic elements are nice and in this case would provide some nice in built behaviours. I know it doesn't have wide implementation yet but the polyfill works really nicely.

[2019-11-08 01:27] dfabulich opened #6 "Bad experience when beforeinstallprompt hasn't fired yet"
To repro: Visit https://pwainstall.glitch.me/ in desktop Chrome Incognito mode. This is your first time visiting the site, in incognito mode, so pwainstall.glitch.me is not eligible to request installation. Click the Install button.

Actual: The install screen pops up, but in place of an "Install" button, there's just a "Close" button, with no visible call to action.

Expected: An Install button;

[2019-11-08 01:30] dfabulich opened #7 "Research improvements around the Safari experience"
Open https://pwainstall.glitch.me in iOS Safari 13.2.2 (but the version doesn't much matter) and click the Install button.

Actual: The install screen launches with a "Close" button, just like issue #6

Expected: An Install button; when you click it, it should give the user browser-specific directions on how to manually install the PWA, like this https://github.com/cubiq/add-to-homescreen

[2019-11-08 01:31] dfabulich opened #8 "Images don't display on Safari"
Open https://pwainstall.glitch.me in iOS Safari 13.2.2 (but the version doesn't much matter) and click the Install button.

The images are missing on the install screen.

![IMG_16E275A83DAA-1](https://user-images.githubusercontent.com/96150/68441909-7183df00-0184-11ea-83ea-b29c76f2406f.jpeg)

[2019-11-08 01:32] dfabulich commented on #8
This also affects desktop Safari 13.0.3 for macOS.

![image](https://user-images.githubusercontent.com/96150/68441970-924c3480-0184-11ea-9804-b1381e1ea8c4.png)

[2019-11-08 01:34] dfabulich opened #9 "Misplaced close X"
In Chrome 78.0.3904.87, go to https://pwainstall.glitch.me/ and click Install.

Actual: The close X appears outside the dialog box

![image](https://user-images.githubusercontent.com/96150/68442114-e35c2880-0184-11ea-8d96-c8685563be77.png)

Expected: The close X should be inside the dialog box

[2019-11-08 03:34] jgw96 commented on #8
@dfabulich do you mind if we combine this with your other Safari issue? I'm wanting to use that issue as a tracker for the Safari specific experience

[2019-11-08 03:39] jgw96 commented on #9
@dfabulich would you mind giving this https://pwainstall.glitch.me/ a try again and see if you still run into this issue?

[2019-11-08 03:42] dfabulich commented on #9
Not fixed. Tested in a fresh incognito window.

[2019-11-08 03:47] dfabulich commented on #8
I think that this issue #8 has essentially nothing to do with issue #7 ("Doesn't work on Safari"). This issue is due to WebP images being sent to Safari. (Safari doesn't support WebP.)

[2019-11-08 03:48] dfabulich commented on #8
FYI, my user agent is:

[2019-11-08 03:49] dfabulich commented on #9
FYI, my user agent is:

[2019-11-08 03:51] jgw96 commented on #6
Hey @dfabulich , because this experience is being designed as part of the Safari guided install experience I am going to link this issue to #7 and close this one

[2019-11-08 03:51] #6 closed

[2019-11-08 03:56] jgw96 commented on #8
Ahh got ya, thanks for the info. So the webp images would be coming from your manifest, this component does nothing special with the images from your manifest. Can you confirm that?

[2019-11-08 03:59] jgw96 commented on #6
I also edited that issue to reflect this

[2019-11-08 04:14] jgw96 commented on #9
hmmm, i'm having trouble reproducing this. What size is the viewport when this happens? Can you repro here https://webboard-app.web.app/ too?

[2019-11-08 04:27] dfabulich commented on #9
Yes, I repro there as well. The issue occurs when the viewport is greater than 1200px. If I resize under that, the dialog fills the full screen; above that, it greys out the background.

[2019-11-08 10:02] VanheeArne opened #10 "Close X doesn't listen to --modal-z-index (css-variable)"
When changing the z-index via the css variable to e.g.: 1 , the close X is behind the modal

https://glitch.com/~woozy-edam

[2019-11-08 13:44] kenchris commented on #1
@tomayac :D

[2019-11-08 19:30] nicksterFL opened #11 "Uncaught TypeError"
I receive Uncaught TypeError: Failed to resolve module specifier "lit-element". Relative references must start with either "/", "./", or "../". on the www/index.html

also when I click "install" i receive:
(index):39 Uncaught TypeError: document.querySelector(...).openPrompt is not a function
    at HTMLButtonElement.<anonymous> ((index):39)

what am I missing?

[2019-11-08 22:56] benjibuiltit commented on #7
This library (and installable PWA's in general) rely rather heavily on Chrome at the moment due to `beforeinstallprompt`. See ["beforeinstallprompt" browser compatibility.](https://developer.mozilla.org/en-US/docs/Web/API/BeforeInstallPromptEvent#Browser_compatibility)

This results in some nuanced behavior based on browsers. For instance, as a Chrome user I would prefer that if I were [ineligible

[2019-11-09 15:19] jgw96 commented on #11
Hey! How are you using the element? It sounds like you may be trying to run the repo but without doing `npm install` first?

[2019-11-09 16:03] jgw96 commented on #10
Thanks for opening an issue with us! I just fixed this with https://github.com/pwa-builder/pwa-install/commit/cfb83bfc28362b6f10b9cf50acd48b3e3dca120b and it will be in the next release.

[2019-11-09 16:03] #10 closed

[2019-11-09 16:04] jgw96 commented on #9
Thanks, I was finally able to reproduce this! I just fixed this with https://github.com/pwa-builder/pwa-install/commit/cfb83bfc28362b6f10b9cf50acd48b3e3dca120b and https://github.com/pwa-builder/pwa-install/commit/24274d7634f701a89a3bcc59522be648ce7e54f6. These fixes will be in the next release

[2019-11-09 16:04] #9 closed

[2019-11-09 16:26] jgw96 commented on #8
Sorry about the confusion here @dfabulich , i now know the cdn i was using for images on the demo serves webp files to Safari even though Safari is the only browser left that does not support webp. I changed to just using the glitch cdn which serves png's, so were good now. Thanks again!

[2019-11-09 16:26] #8 closed

[2019-11-09 16:37] nicksterFL commented on #11
yeah that's what it was. I'm good now.

On Sat, Nov 9, 2019 at 10:19 AM Justin Willis <notifications@github.com>
wrote:

[2019-11-09 18:09] jgw96 commented on #11
All good, thanks for giving the component a try!

[2019-11-09 18:09] #11 closed

[2019-11-10 08:50] bennypowers commented on #7
Most users will probably come here asking "does it support iOS?"

IMHO the component should provide some banner UI for a2hs for iOS users, and preferably lazy-loaded so sites can skip serving that code to capable browsers.

[2019-11-11 08:13] J0ne opened #13 "Support localization"
Would be nice if the headers ("key features", "description" ) could be overridden.

Thank you very much for your good work!

[2019-11-11 19:29] jgw96 commented on #7
Hey everyone! So there are two pieces here I want to cover. First, the iOS experience is something we are working on, you can follow my progress here https://github.com/pwa-builder/pwa-install/tree/ios . We are going to show a banner on Safari that leads the user through how to install a PWA to their homescreen on iOS. Would that cover what you are looking for @bennypowers ? Also, @benjibuiltit ,

[2019-11-11 19:31] jgw96 commented on #13
No problem at all, this is definitely something that is on our roadmap! If you don't mind me asking, what would you think would be the best way to do this? Would you prefer to be able to edit them through properties? (something like `<pwa-install featuresheader="text" />`

[2019-11-11 19:32] bennypowers commented on #7
Exactly what I'd expect this to do (short of staging a sit in at Apple campus)

Thanks 👍

[2019-11-11 19:41] benjibuiltit opened #14 "[Feature] showeligible attribute"
I would prefer that if I were ineligible for installing a PWA (on a supported browser), the install button is simply not shown. It would save me the click/confusion to see a modal with only a cancel button.

I'd like to propose adding a showeligible attribute to the component, that only shows the install button when a user is eligible on supported browsers.

This issue has spawned from #7

[2019-11-11 19:55] J0ne commented on #13
Thanks for asking! That is actually something I'd think would work great. For instance, we (at work project) have to support 2 - 3 languages. We use polyglot.js and it would look something like
`<pwa-install .featuresheader=${polyglot.t(this.lang + '.featureHeader')} />`
Of course, the content in manifest.json should include all languages ("Lorem ipsum / Some text ").
- Unless it was possible over

[2019-11-11 20:29] jgw96 commented on #7
@bennypowers good to hear!

[2019-11-11 20:30] jgw96 commented on #14
Awesome, thanks @benjibuiltit ! Let me know if you need any help getting started (:

[2019-11-11 20:33] jgw96 commented on #13
Perfect, this is really good info. As far as the manifest goes, i'm not sure its in the scope of this component to handle that, but we should definitely handle letting developers pass their own headers. Would you like to work on this issue? (you can check out our contributing guide here https://github.com/pwa-builder/pwa-install/blob/master/CONTRIBUTING.md and i'm more than willing to help if need

[2019-11-11 21:08] J0ne commented on #13
At the moment I'm really busy with my work project (it should be production-ready in a couple of weeks) and I've never done any coding with typescript (and I'm not so pro with GitHub either).

But anyway, it would be nice to try to contribute and give something back. I'll take a look at the guide and try to find some time. Please, prepare to answer some stupid questions :)

[2019-11-12 01:43] vitorfreitas opened #15 "Can't fire openPrompt function"
**Describe the bug**
When I try to use `openPrompt` function I get "Cannot read property 'icons' of undefined" error on console.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Open "install pwa" prompt.

**Desktop (please complete the following information):**
 - OS: Manjaro Linux
 - Browser: Google Chrome
 - Version: 78.0.3904.87

[2019-11-12 12:51] J0ne commented on #13
My very first pull request is here https://github.com/pwa-builder/pwa-install/pull/16
I just couldn't add any reviewers. :-/ I wasn't sure ho tow do this pr properly so I forked the repo, made changes and then did pr comparing those forks (that's why there is reverse and reverse of reverse...).

[2019-11-12 20:55] jgw96 commented on #13
Hey @J0ne , huge thanks for the PR, you did it exactly correct! Its totally fine that you had to fix some git issues, I still struggle with git all the time. Congrats on your first ever pull request and welcome to the PWABuilder community!

[2019-11-12 20:56] #13 closed

[2019-11-12 21:02] J0ne commented on #13
Great! Thank you very much. I'm glad I did something useful. Not much but it's a start. :)

[2019-11-12 21:40] jgw96 commented on #15
Hello @vitorfreitas , thanks for opening an issue (: . This error was being thrown because this component expects certain basic parts of the web manifest to be there, including atleast one icon. However, I considered this a bug because the component did nothing to let you know that was the issue, an error was just thrown. To fix this I made this commit https://github.com/pwa-builder/pwa-install/co

[2019-11-12 21:40] #15 closed

[2019-11-12 21:51] jgw96 opened #17 "Minify build output"
To make sure that pwa-install does not impact the performance of a PWA, we need to make sure we keep the component as tiny as possible. One of the fastest ways to cut down on JavaScript size is to minify your build.

[2019-11-12 22:20] vitorfreitas commented on #15
Great job, @jgw96! I'll try the solution and gonna let you know if it works!

[2019-11-13 04:25] jgw96 commented on #17
fixed with https://github.com/pwa-builder/pwa-install/commit/3386e27acfee758d4a152ac583f9579ac60d86be

[2019-11-13 04:25] #17 closed

[2019-11-13 04:34] jgw96 opened #21 "Unit Tests"
To make it even easier to contribute plus to maintain software quality we should implement unit tests. I have done some research and it looks like this project https://github.com/Polymer/tools/tree/master/packages/web-component-tester is the best way to do it.

[2019-11-13 08:27] J0ne opened #25 "Localization: install button text as a property"
The install button text should also be a property so that it could be localised as well.
This is related to https://github.com/pwa-builder/pwa-install/issues/13 but I realised that afterwards

[2019-11-13 12:58] vitorfreitas commented on #15
Figured out that it has something about the time the function is called. I tried to run with a setTimeout to 5s and the popup appeared as expected

[2019-11-13 18:48] jgw96 commented on #25
Hey @J0ne good idea! Were you intending to add this? If not we will add it, just asking to make sure were not duplicating work (:

[2019-11-13 18:48] jgw96 commented on #14
Released in 0.9.9 , thanks!

[2019-11-13 18:48] #14 closed

[2019-11-13 19:02] J0ne commented on #25
I could do that tomorrow. (I'm located in Finland, it's now 09 PM, so it means something like... in next 20 hours :D)  Would that be ok?
Btw, last time I forked the repo and made changes to that one. Is it a good way to do PR or is it ok to do straight to the original repo?

[2019-11-14 17:38] jgw96 commented on #25
Hey @J0ne , thats the best way to do a PR. Thank you again!

[2019-11-14 17:38] #25 closed

[2019-11-14 17:41] J0ne commented on #25
Awesome! Thank you.

[2019-11-14 18:57] jgw96 commented on #21
added with https://github.com/pwa-builder/pwa-install/commit/48a39aa245c1c65903c228dcd646744a234a155a

[2019-11-14 18:57] #21 closed

[2019-11-17 13:39] vincentmorneau opened #31 "new method: closePrompt()"
This library is really really good.

We have `openPrompt()`. Can we get `closePrompt()` ?

[2019-11-17 13:45] vincentmorneau opened #32 "Modal footer is messed up at a certain size"
**Describe the bug**
The install button overflows the modal. I'm on a 13' macbook pro. That's 730px of viewport height.

**Expected behavior**
The button should not overflow beyond the modal.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/5391291/69008212-07063800-0916-11ea-839b-bda6095b5a4e.png)

Idea: How about the

[2019-11-18 02:53] vincentmorneau opened #33 "Layout on iPhone 5SE"
**Describe the bug**
This can be tested on https://pwainstall.glitch.me/ with an iPhone 5SE

**Screenshots**
![image](https://user-images.githubusercontent.com/5391291/69020925-2b98f900-0984-11ea-973b-427db65ded70.png)

**Smartphone (please complete the following information):**
 - Device: iPhone 5SE
 - OS: iOS 13
 - Browser Safari
 - Version Latest

**Additional context**
Also, it's difficult to

[2019-11-18 04:02] jgw96 opened #34 "Should hide after install"

[2019-11-18 15:34] jgw96 commented on #7
Update on this issue: the latest release includes a 1.0 of this. There are a few last things I want to do, like ensure things work well on iPads etc. Getting close!

[2019-11-18 15:45] benjibuiltit commented on #34
How do you see this differing from the showeligible attribute? Is it a matter of scope and adding a check to see if the app is being launched as standalone from iOS?

[2019-11-18 19:05] dfabulich commented on #33
A similar problem occurs on iPhone 11 Pro Max

![Simulator Screen Shot - iPhone 11 Pro Max - 2019-11-18 at 11 03 41](https://user-images.githubusercontent.com/96150/69081630-40f93c00-09f3-11ea-81e2-6307643390b0.png)

[2019-11-18 19:26] dfabulich commented on #7
The "1.0" implementation is just text instead of a button. The text says, "Tap the share button and then 'Add to Homescreen'"

I claim that these instructions aren't sufficient to get users to victory here, and that over-the-shoulder usability testing would show a very low success rate.

Specifically, I suggest a Starbucks usability test here. Buy a Starbucks gift card, go to Starbucks, walk up to

[2019-11-19 13:56] vincentmorneau opened #36 "show/hide events"
This would be very useful

[code]

[2019-11-20 04:45] jgw96 commented on #34
Thanks for asking (: This is more around making sure that after an app has been installed to the homescreen (or desktop) that the button internal to the component will be hidden even when the showeligible attribute isn't being used. I've seen people using this in demos with the default button and realized that even when someone isn't using the showeligible attribute we should hide the button once

[2019-11-20 14:29] benjibuiltit commented on #34
I agree. I figured there was a nuance there I was missing. Thanks for clarifying!

[2019-11-20 17:30] jgw96 commented on #36
Agreed! I was thinking about this same thing the other night, i definitely think this would be worth adding. Would you be interested in doing a pull request? All good if not of course, but I can help if needed and we have a contributing guide here https://github.com/pwa-builder/pwa-install/blob/master/CONTRIBUTING.md . Just let me know and then Ill move forward on this (:

[2019-11-20 18:06] vincentmorneau commented on #36
Unfortunately not. I stubbled across your project for my app https://fab.earth, a PWA to fight climate change. Too much invested there already, but I'm looking forward to publish my next release with pwa-install

[2019-11-21 00:20] jgw96 commented on #36
That's awesome, all good! I have added this to the 1.0 milestone and will update this issue once I have implemented this.

[2019-11-21 00:21] jgw96 commented on #34
All good 😊

[2019-11-21 00:28] jgw96 commented on #33
Hey @dfabulich , could you give this another try here https://pwainstall.glitch.me and see if it looks better better for you now?

[2019-11-21 00:38] dfabulich commented on #33
It's always hard to figure out whether I've properly updated my service worker, but I see no change at all on either my iPhone 11 Pro Max or iPhone 8 simulator.

[2019-11-21 16:38] jgw96 commented on #33
Ahh interesting, ill take a second look at this

[2019-11-22 20:31] #32 closed

[2019-11-22 20:57] #34 closed

[2019-11-22 21:00] jgw96 commented on #31
Added with https://github.com/pwa-builder/pwa-install/commit/d6ffbaf6432dba7d270394a77289fafc6c41eeb5 . Thanks @vincentmorneau !

[2019-11-22 21:00] #31 closed

[2019-11-22 21:03] vincentmorneau commented on #31
awesome, thank YOU!

[2019-11-22 21:20] jgw96 commented on #36
Added with https://github.com/pwa-builder/pwa-install/commit/8135536b78f74c7850ef57491e3f73dd9298a66b . Thanks @vincentmorneau (:

[2019-11-22 21:20] #36 closed

[2019-12-03 17:21] jgw96 commented on #2
After thinking about it and looking at a bunch of start_url 's in production manifests, there are a lot of times where the start_url would be more confusing to the user than helpful. Because of this I am going to close this for now.

[2019-12-03 17:21] #2 closed

[2019-12-03 17:28] jgw96 opened #64 "Replace current screenshot carousel with simpler / smaller implementation"
Our current third party carousel component we use does not provide an ideal experience (kinda buggy, especially in Safari) and adds more weight to the component than we like. Lets replace this with a simpler implementation that covers just our use case

[2019-12-03 20:24] jgw96 commented on #64
Also need to add key UX items like left and right buttons

[2019-12-03 21:00] jgw96 commented on #64
Added with https://github.com/pwa-builder/pwa-install/commit/0662516c3153400a3355e5065b5c8aacbe76afa7

[2019-12-03 21:00] #64 closed

[2019-12-03 21:02] jgw96 commented on #33
Added another fix along with this commit https://github.com/pwa-builder/pwa-install/commit/0662516c3153400a3355e5065b5c8aacbe76afa7 and confirmed with testing. Thanks @dfabulich ! If you ever spot any more safari / iOS issues always feel free to open an issue.

[2019-12-03 21:02] #33 closed

[2019-12-03 21:17] jgw96 commented on #1
Removing this from the 1.0 milestone for now as its something i want to tackle after 1.0 (this is just an enhancement at this point anyways).

[2019-12-03 21:23] jgw96 commented on #7
Hey @dfabulich (: I wanted to update you here. I have removed this issue from the the 1.0 milestone but am adding this to a 2.0 milestone. As far as using the share glyph instead of "The share button": To support translations simply and to improve accessibility we chose to not use an icon for this. This text is still something we are doing research on as a whole, so expect this to evolve.

Your se

[2019-12-04 18:12] jgw96 opened #65 "Does not always catch the deferredPrompt event"
**Describe the bug**
For some reason, we don't seem to always catch the deferredPrompt event and therefore the install button does not show.

**Expected behavior**
When the deferredprompt event is fired we are ready to catch it

[2019-12-10 19:04] vincentmorneau commented on #32
I'm still getting this on my app and also on the glitch example:

![image](https://user-images.githubusercontent.com/5391291/70560057-e5375400-1b55-11ea-9db7-86e004de1824.png)

[2019-12-11 19:39] vincentmorneau opened #80 "Issue on non 3:2 13 inch displays"
I would reopen #32

Still getting this on macbook pro 13'' display:

![image](https://user-images.githubusercontent.com/5391291/70654314-0e261a80-1c24-11ea-9edd-6f3c2c3c3223.png)

[2019-12-13 18:40] hober opened #86 "User Agent sniffing fails to take into account iPadOS"
[pwa-install.ts line 506](https://github.com/pwa-builder/pwa-install/blob/463a8af46027bee16c518de8ca2eab1b3368bd20/src/pwa-install.ts#L506) attempts to detect iOS by User Agent sniffing:

[code]

But iPads running iPadOS report a User Agent string similar to desktop Safari's, and this test fails on them.

[2019-12-14 23:36] jgw96 commented on #86
Good catch! Ill make sure this gets fixed up. @hober by chance could you copy and paste the full user agent for an iPad running iPad OS please?

[2019-12-14 23:37] jgw96 commented on #80
Thanks for the heads up!

[2020-01-05 15:11] hipstersmoothie opened #103 "Page still scrollable while modal is up"
**Describe the bug**

When the modal is active the page below it is still scrollable.

**To Reproduce**
Steps to reproduce the behavior:
1. Use web component
2. click install
3. attempt to scroll modal, sometimes page scrolls

**Expected behavior**

The main page should not be scrollable.

[2020-01-05 15:18] hipstersmoothie opened #104 "Improve focus styling"
**Describe the bug**

When I open the install modal the cursor focus stays in the same place on the page and I cannot

**To Reproduce**
Steps to reproduce the behavior:
1. Use web component
2. Open it
3. Focus remains on trigger element

**Expected behavior**

When the install modal is up the focus should get moved to somewhere within the modal. Once focus is moved into the modal focus should be l

[2020-01-05 17:11] hipstersmoothie opened #112 "Overflow with enough content or certain screen"
**Describe the bug**

The content will overflow the modal in certain situations

<img width="1065" alt="Screen Shot 2020-01-05 at 9 07 12 AM" src="https://user-images.githubusercontent.com/1192452/71783406-355dd680-2f9b-11ea-995f-6171d8430caa.png">

**Expected behavior**

Should contain all content and scroll if it goes out of the view port. related #103

[2020-01-06 16:56] #112 closed

[2020-01-06 17:17] jgw96 commented on #103
Merged the PR you opened that fixed this, thanks a ton @hipstersmoothie !

[2020-01-06 17:17] #103 closed

[2020-01-06 17:17] jgw96 commented on #104
@hipstersmoothie do you feel like there is more to be done here with focus work?

[2020-01-06 17:46] hipstersmoothie commented on #104
The last thing that's needed is a focus-lock when the modal is up. It can lead to weird behavior if no lock is present.

1. Run example
2. Click the 2nd install button
3. `Shift + Tab`
4. `Enter`
5. 2 modals up at the same time ❌

[2020-01-09 16:27] jgw96 commented on #104
Awesome, ok cool

[2020-01-09 16:28] jgw96 commented on #80
Thanks to @hipstersmoothie this has been fixed, thanks everyone!

[2020-01-09 16:28] #80 closed

[2020-01-09 16:29] jgw96 commented on #65
This has been solved, we should have been listening for the event in the constructor, which we are now.

[2020-01-09 16:29] #65 closed

[2020-01-09 17:00] #86 closed

[2020-01-09 17:07] jgw96 commented on #7
Hey all, just wanted to post another update here! The latest release (1.2.5) fixed the final iOS issue which was that we were not detecting the iPad pro correctly and therefore we were showing the wrong UI for that device. After discussing with the team before the holidays, this is as far as we want to take the iOS experience right now as we are not sure what the future of installing PWAs from Saf

[2020-01-09 17:07] #7 closed

[2020-01-16 22:01] HowardWolosky opened #134 "Service Worker check complains about lack of pushManager registration with no remediation"
**Describe the bug**
I followed all the steps to complete my manifest, service worker and update security, but I still get a complaint that my "Service Worker [doesn't have] a pushManager registration".

The site doesn't provide any link to explain what that means, and none of the pre-canned service workers appear to use `pushManager`, which means that it seems we can't achieve 100/100 by followin

[2020-01-16 22:10] HowardWolosky opened #135 ""Request scheme 'chrome-extension' is unsupported" occasionally appearing in debug console"
**Describe the bug**
I am using the "Offline copy with Backup offline page" service worker, and occasionally I am seeing the error message of "Request scheme 'chrome-extension' is unsupported" in the debug console output.

**To Reproduce**
I'm not sure if this is because of specific extensions I have installed in my browser, so it's harder to be explicit here in repro steps.  I tend to see it when

[2020-01-16 22:17] HowardWolosky opened #136 "Browser is not a valid display type"
**Describe the bug**
Per Chromium dev tools, the only valid values for the manifest's `display` property are `standalone`, `fullscreen`, and `minimal-ui`.  PWA Builder should not be offering `browser` as an option, as that fails the Installability check in the Application tab of the dev tools.

**To Reproduce**
Steps to reproduce the behavior:
1. Use PWA Builder on https://pwainstall.glitch.me/
2.

[2020-01-16 22:22] HowardWolosky commented on #134
Opened in wrong repo.  Meant to open in the `pwa-builder` repo.  Looks like there's already a similar issue open there, so just closing:

pwa-builder/PWABuilder#543

[2020-01-16 22:22] #134 closed

[2020-01-16 22:23] HowardWolosky commented on #136
Opened in wrong project.  Closing this one as I've re-created the Issue in the right one: pwa-builder/PWABuilder#619

[2020-01-16 22:23] #136 closed

[2020-01-16 22:24] HowardWolosky commented on #135
Opened in wrong project.  Closing this one as I've re-created the Issue in the right one: pwa-builder/PWABuilder#620

[2020-01-16 22:24] #135 closed

[2020-01-17 01:39] HowardWolosky opened #137 "Can't see third screenshot on desktop"
**Describe the bug**
This is a regression that occurred in the 1.2.7 release (it didn't occur in prior releases).
On desktop, if you have three screenshots, you're unable to click to the right on the second screenshot in order to see the third.  On mobile (where drag gestures work), you can still see the third.

**To Reproduce**
Steps to reproduce the behavior:
1. Have a manifest with three screen

[2020-01-22 17:43] jgw96 opened #142 "Design issue on certain devices"
The modal ends up being a little to narrow on certain devices.

![pwaInstall-issue](https://user-images.githubusercontent.com/8823093/72919069-a9b6aa80-3cfb-11ea-92e4-e4adc83dfa51.jpg)

[2020-01-22 20:30] #142 closed

[2020-01-23 17:03] #137 closed

[2020-01-23 17:05] jgw96 commented on #137
Thanks Howard!

[2020-02-08 19:00] rdhainaut opened #161 "[Feature Request] Add a method to check if the pwa is already installed"
**Describe the feature**
I use a custom button as trigger for the pwa install dialog.
It works great.  But now i would like be able to check if the pwa is already installed to display or not this custom button.

In code

[code]
[code]

It s not really important but the sample code above is used in vue.js project (class based) + typescript

[2020-02-09 16:55] FluorescentHallucinogen opened #162 "[Idea] Show rating and reviews from Microsoft Store"
Does Microsoft Store have an API?

If yes, it would be really nice to fetch and display rating (stars) and reviews (comments) for PWAs published in Microsoft Store.

If no, what about creating this API?

[2020-02-11 19:12] FluorescentHallucinogen commented on #161
I'll create a pull request for that. :wink:

[2020-02-13 00:53] ncausey opened #172 "Using with React + TypeScript"
I'm trying to use this with my React + TypeScript project. It warns that there is no declaration file, and even if I create my own, I can't get it to work. I am also new to Web Components so that does not help.

Does anyone know how to easily import and use this in my situation?

Thanks!

[2020-02-13 20:46] ncausey commented on #172
I was able to resolve this by declaring the JSX global namespace to include `pwa-install`.

[2020-02-13 20:46] #172 closed

[2020-02-22 00:59] richardtaylordawson commented on #161
This would be an awesome feature! It may even be nice to just add an attribute to the pwa-install component of a data-target that links to the custom button so that it hides the custom button for you if you don't have showopen set to true. A method is good as well. :)

[2020-02-22 17:30] richardtaylordawson opened #177 "Screenshot Carousel - Safari Desktop & Mobile"
**Describe the bug**
The screenshot carousel in the modal doesn't work on Safari desktop & mobile.

**Expected behavior**
I believe that when pressing a left or right arrow that it should move to the next screenshot

**Desktop (please complete the following information):**
 - OS: MacOS
 - Browser Safari

**Smartphone (please complete the following information):**
 - OS: iOS
 - Browser Safari

[2020-02-25 23:08] Kyaa-dost opened #182 "[Question] Test"
**Question in detail**
A clear and concise description of what you want to know or confused about.

**Is your question related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions you've considered.

**Additional context*

[2020-02-25 23:08] Kyaa-dost commented on #182
Test Complete

[2020-02-25 23:08] #182 closed

[2020-02-27 21:31] jgw96 commented on #161
Hello all! So it sounds like the main issue here is that the button is still showing once the PWA has been installed? If that did not happen, would it cover this feature request?

[2020-02-27 21:35] jgw96 commented on #162
Hey @FluorescentHallucinogen , sorry about the delay here! This is outside the scope of this component currently and does not line up with our future plans. Because of this I am going to close this issue for now, but please always feel free to open an issue with us or share ideas!

[2020-02-27 21:35] #162 closed

[2020-02-27 23:09] richardtaylordawson commented on #161
Yes that would complete this issue in my mind as long as if they continue to revisit the site later that the button is hid if it’s installed as well.

[2020-02-28 04:37] jgw96 commented on #161
Thanks for the feedback, ill look into implementing this then.

[2020-02-28 04:59] jgw96 commented on #161
Hello all! I have fixed this bug (i'm calling it a bug that the button was showing after the app had been installed) and added a method to check if the PWA is installed in the above linked PR. I have requested a review from my teammates so once it has been reviewed they will merge it and I will do a release. Thanks everyone!

[2020-02-28 16:48] #161 closed

[2020-02-28 17:20] richardtaylordawson commented on #161
@jgw96 Awesome! I'm so excited for this!

[2020-03-04 05:32] richardtaylordawson commented on #161
@jgw96 I went to implement this tonight on my site and here is what I found.

1. If you use the out of the box button, everything works perfect! The only problem is it's hard to customize the look because the only variable is for the button color so it doesn't quite match the rest of the site buttons.
2. If you use a custom button, on page load when using `document.querySelector("pwa-install"). ge

[2020-03-04 08:06] rdhainaut commented on #161
@richardtaylordawson I don t know if it can help but this is my code to hide a custom pwa install button

[code]

[2020-03-17 20:43] tomayac opened #208 "Call to action is below the fold on iOS"
Unfortunately the call to action (“Tap the share button and then 'Add to Homescreen'”) is below the fold on iOS.

It seems like in an SFSafariViewController the container is at least scrollable (but its options  don’t include “Add to Homescreen”), but in stand-alone Safari it’s not even scrollable, so impossible to discover.

![CCE3DE9C-9BDF-4723-88A8-F9BE8B55D203](https://user-images.githubuserco

[2020-03-25 20:50] jgw96 commented on #208
Hey @tomayac ! This was improved in the latest release (v1.4.2), but I am working on another release today to polish the iOS experience. Ill ping here when that release is out, thanks!

[2020-03-25 21:54] jgw96 commented on #208
Fixed with https://github.com/pwa-builder/pwa-install/commit/0d544d48dc4f3191e41931eced5af8eba1f55ac2 , thanks again @tomayac !

[2020-03-25 21:54] #208 closed

[2020-03-26 08:44] tomayac commented on #208
Thanks for fixing this!

[2020-03-27 10:37] christianliebel opened #223 "Relative icon URLs are not resolved relative to the manifest"
**Describe the bug**
When the Web App Manifest references an icon with a relative URL, the component tries to resolve it relative to the website, but it should resolve it relative to the manifest.

**To Reproduce**
Steps to reproduce the behavior:

1. Place a manifest and icon in a subdirectory, e.g. `assets`
2. Use a relative icon URL in the manifest, e.g.

[code]

3. Add the web component to you

[2020-03-27 13:59] christianliebel opened #224 "Install button should not disappear on cancel"
**Describe the bug**
When the user clicks _Cancel_ in the install prompt, the install button disappears. It should *only* disappear when the user clicks _Install_.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a pwa-install enabled website
2. Click on the _Install_ button within the website
3. Click on _Install <title>_ in the pwa-install dialog box
4. Click on _Cancel_ in the instal

[2020-04-06 16:20] jgw96 commented on #224
Hello! Unfortunately, this is outside of our control right now as the prompt where you are hitting the cancel button is browser UI, not UI we have control over. When you hit the cancel button it gets rid of the install event too, which is why our button disappears as you would no longer be able to install for that session. We are however working with web standards to see if we can improve the APIs

[2020-04-06 16:20] #224 closed

[2020-04-07 11:37] christianliebel commented on #224
Hi there! I’m not entirely sure if that’s really the case… feel free to check my demo here: https://pwapraxis.liebel.io/ ("App installieren"). You can click the install button (which uses the same event) to show the prompt again, no matter how often you cancel the browser’s prompt.

[2020-04-09 15:51] qz2rg4 opened #232 "[Question]Install button Missing"
I don't know if I am missing something here but the install button is missing on the popup. Only Cancel button

Please advise

![image](https://user-images.githubusercontent.com/4931185/78914490-bc36b980-7a8a-11ea-9cb2-6610f318de83.png)

[2020-04-09 21:25] jgw96 commented on #232
Hello @qz2rg4 , what browser are you running this in? Also, if this is Edge or Chrome, do you see a plus icon in the url bar when you are on your PWA?

[2020-04-10 06:51] qz2rg4 commented on #232
Hi @jgw96 thanks for getting back to me.

I'm running this in chrome and no plus sign.

It is a proof of concept app and it can be found here https://pwa.interon.co.za/

Thanks

[2020-04-10 19:25] jgw96 opened #235 "use getInstalledRelatedApps api"
Use this api https://twitter.com/kennethrohde/status/1248692193604317188?s=20 to not show install button if the play store version of an app has been installed already.

[2020-04-10 19:44] jgw96 commented on #232
No problem! So the reason you are not getting the install button or the plus icon is because you are missing a 512x512 version of your icon in your manifest, you can use https://pwabuilder.com to generate one if you dont, just click on the edit manifest button once you put your URL in. Once you have added a 512x512 icon size your PWA will be ready to install. I am going to close this for now, but

[2020-04-10 19:49] #232 closed

[2020-04-13 18:44] jgw96 commented on #235
added with https://github.com/pwa-builder/pwa-install/commit/f64db3ef957d0219a01b1a87e11e0991bc7d7e89

[2020-04-13 18:44] #235 closed

[2020-04-16 00:36] lee-leonardo opened #243 "[Question] Screenshot Carousel - Polyfills for Safari"
**Question in detail**
Concerns two different issues, I was thinking it's a good point of discussion to see what are the next steps as I am not sure if we want to pursue that route:
1. The animation in navigating between carousel items does not appear in Safari.
2. WebP support for Safari is non-existent, there seems to be a polyfill to handle this as well (or we could have the tooling prevent the

[2020-04-18 12:06] Sacrekin opened #245 "[Question] styling with CSS variables"
I can style PWA Install with the parts but not with the CSS variables. Safari does not support parts. Tried it in  the glitch demo and it does not work. Can you provide an example how to make it work?

[2020-04-20 18:52] jgw96 commented on #245
Hey @Sacrekin , let me take a look and ill get back to you, thanks for opening an issue with us!

[2020-04-20 19:08] #245 closed

[2020-04-20 19:15] jgw96 commented on #245
Hey @Sacrekin , this ended up being a bug in my code! I just released a fix, if you install v1.6.2 (or you can just use the script tag like in the glitch demo) the css variable for the background button color will now work, thanks!

[2020-04-21 01:43] chansiawwei opened #247 "CSS selector not working"
**Question in detail**

I wanted to make the images in the carousel larger but i am having issue on selecting the img tag. I am aware that the provided css variable does not include it, any advice is much appreciated !

**Is your question related to a problem? Please describe.**

I am having issue with css selector in the pwa install modal.

**Describe alternatives you've considered**
Using my own

[2020-04-21 15:19] Sacrekin commented on #245
Thanks. I will have a look at it.

By the way, I also noticed that the modal behaviour (incl close button) isn’t working in desktop mode.

Also, using the glitch demo app, try to run it on an iPhone (IOS 12.4 in my case). The Tap… message is in full transparency, the background isn’t blurred as intended.

Just FYI. Do you want me to post 2 issues?

Kind regards,

Jean-Marie Sacré
jm@sacre.us
GSM:

[2020-04-22 16:00] Blueric opened #258 "Install button not showing"
I was checking out the component and noticed that the install button is not showing when opening  pwainstall.glitch.me. I tried in Edge Chromium, Chrome, and Edge (non-chromium).

![Annotation 2020-04-22 095915](https://user-images.githubusercontent.com/16259907/80004751-f4250000-847f-11ea-8498-af31a9aebb33.png)

[2020-04-22 16:05] Blueric commented on #258
WTF?! I swear the button wasn't there. Somehow, the process of using the snip tool to grab a screen shot of Chrome caused it to show up. I thought I was crazy, so I tested it again using Edge Chromium. I confirmed the button was missing and then opened Snip. But as soon as I snipped the image, it suddenly showed up, and was in the screen shot.

[2020-04-22 17:19] Blueric commented on #258
OK, I was able to reproduce it again. Opening an InPrivate browser session in Chrome resulted in the button not showing. Here's a screens hot, including dev tools opened up showing the #shadow-root

![Annotation 2020-04-22 111734](https://user-images.githubusercontent.com/16259907/80012734-fe98c700-848a-11ea-9b0d-7387cb825040.png)

[2020-04-22 17:24] Blueric commented on #258
Console shows these issues when the button fails to load. I'm completely new to the PWA scene, and just trying to get up to speed, so I don't know enough to know if this is an issue with glith.me or with the component it self.

[PWA Builder] Network request failed and no cache.TypeError: Failed to execute 'fetch' on 'WorkerGlobalScope': 'only-if-cached' can be set only with 'same-origin' mode

The

[2020-04-22 18:09] jgw96 commented on #258
Hello, thanks for opening an issue with us! @Blueric I am not able to reproduce this outside of an inprivate Edge tab , are you able to confirm that it works for you outside of inprivate?

[2020-04-22 18:14] jgw96 commented on #258
Figured out why its not working in inprivate mode. That error you got was from a service worker request being blocked. Just so we dont confuse users because of the console errors that pop up there, i simplified the service worker in the demo. Turns out, that is expected behavior for inprivate, the event for installing also will not fire in an inprivate tab. @Blueric I just wanted to confirm, are y

[2020-04-22 18:15] jgw96 commented on #247
Hey @chansiawwei thanks for opening a issue with us, which img tag are you wanting to style?

[2020-04-22 19:48] Blueric commented on #258
I have been playing with it some more, and (mostly) figured out what was going on. For the most part, it's due to my ignorance on service workers. I spent the last hour playing with PWABuilder, deployed a starter app to my server, confirmed it all works as expected, and learned some things in the process.

The first issue is that I wasn't opening the page via HTTPS. The install button doesn't show

[2020-04-22 22:19] jgw96 commented on #258
Cool! No worries at all, we are all still learning! I'm not sure exactly, but I'm guessing it might have been delayed for you that first time because the event that we get from the browser that we can trigger install off of just hadn't fired yet for you. Feel free to open another issue though if you see that again. As far as Edge Classic goes, we actually don't officially support that browser with

[2020-04-22 22:19] #258 closed

[2020-04-28 05:11] chansiawwei commented on #247
Hi @jgw96 , i am referring to the img tag within the carousel

[2020-05-02 16:56] rdhainaut opened #274 "[FEATURE] Add I18n for pwa install"
**Is your feature request related to a problem? Please describe.**
I have a web app with multiple locale (en, fr, ...)
The pwa install button show a description and features list (based on manifest.json) but i would like show a translated content.

**Describe the solution you'd like**
Is it possible to add a locale file or json object (key locale, value translated) to show the dialog popup with th

[2020-05-05 15:58] jgw96 commented on #274
Hey @rdhainaut ! So this is not something that the pwa-install component handles itself, but it is something I thought of in the design! If you look at the properties the component takes https://github.com/pwa-builder/pwa-install#properties, all of the text in the component should be covered by those properties. What this means is that the component can easily take translated strings from your I18

[2020-05-05 15:58] #274 closed

[2020-05-05 16:08] jgw96 commented on #247
@chansiawwei thanks for the reply, Ill add a CSS part to enable the images to be styled. The reason you are not able to style it currently is because we are using [shadow dom](https://developer.mozilla.org/en-US/docs/Web/Web_Components/Using_shadow_DOM) in our components.

[2020-05-05 19:19] rdhainaut commented on #274
@jgw96 Thanks for the feedback.  Indeed, you have totally right.  It s simpler and more flexible to delegate the translation to a i18n service.

I have just not realised that properties could be override directly on the component (i thought that these value was readed exclusively from manifest file but i was wrong).

[2020-05-05 20:28] jgw96 commented on #274
No problem at all! Let me know if you have any more questions 😊

[2020-05-17 14:35] nadfri opened #293 "Error 404 pwa-install.js.map"
Hi,
Can you fix the error 404 which appears in the console?

DevTools failed to load SourceMap: Could not load content for https://cdn.jsdelivr.net/npm/@pwabuilder/pwa-install.js.map: HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE

[2020-06-05 00:34] lee-leonardo commented on #177
should be fixed, lost permissions so I can't close this issue

[2020-07-02 00:02] dagalumin opened #342 "Install button not showing on Firefox"
Hello, thank you for your work, but despite of many tries I've done, the "Install" button doesn't show in Firefox (desktop and mobile), while it correctly displays on on other browsers.
This happens for my project but also just for your demo page https://pwainstall.glitch.me/ . I've tested in different desktop and mobile environments. I guess something is wrong since your pwa-install component is

[2020-07-04 03:16] oladele-david opened #345 "Install button doesnt appear on other browsers except chrome"
**Install button doesnt appear on other browsers except chrome**
After adding the script  tags as documented in the appropriate place, i discovered  that the button doesnt appear on other broswers like Opera, Firefox, Tor, Phoenix, Safari (I haven't tested it yet on safari but guess it might be the same issue) browsers.
 i think  it might be because  its not yet compactable with other browsers Yet

[2020-07-14 02:02] MrPeker commented on #345
I have same problem

[2020-07-14 10:36] kcak11 opened #355 ""Install" not working using pwa-install"
**Question in detail**
How to get the "install" option ?

**Is your question related to a problem? Please describe.**
I have tried the below steps in my site, but still not getting the install button.
[code]
The address-bar in Chrome doesn't show the (+) icon for Install.
![image](https://user-images.githubusercontent.com/703559/87418572-85bf8c00-c5ef-11ea-8936-b7a7914e44ec.png)

**Additional cont

[2020-07-15 05:38] kcak11 commented on #355
This issue was resolved after I updated the "display" property in manifest.json to "standalone" instead of "browser"

[2020-07-15 05:38] #355 closed

[2020-08-03 19:12] jgw96 commented on #345
Hello all! This component is currently only supported in Chromium based browsers and Safari. The beforeInstallPrompt event has only ever been implemented by Chromium based browsers such as Chrome, Edge, Samsung Internet, Opera and more. Firefox has unfortunately never consistenly implemented this event and has not had a consistently available install experience for PWAs either. However, we are hea

[2020-08-03 19:12] #345 closed

[2020-08-03 19:15] jgw96 commented on #342
Hello, thanks for opening an issue with us and sorry for the delay. I actually just responded to this exact situation here https://github.com/pwa-builder/pwa-install/issues/345 so I am going to close this issue with the same message. Thanks for using PWABuilder!

[2020-08-03 19:15] #342 closed

[2020-08-03 23:04] jgw96 commented on #247
Just an update here: I am going to close this as a not fix for now. After working on the carousel with one of my teammates who was also using it, we decided to not make the images in the carousel styleable as it is too easy to then break the entire layout of the carousel. Thanks for the suggestions @chansiawwei !

[2020-08-03 23:04] #247 closed

[2020-08-05 16:22] #293 closed

[2020-08-07 17:30] #177 closed

[2020-08-11 06:58] xererske opened #385 "Button doesn't show and serviceworker returns 404"
Love your functionalities. Just what I am looking for, to create that amazing ux!
There are a few things that don't yet work at my side and I am hoping that someone could help me out..

**1. The install button doesn't show.**

I tried adding both the npm and script module (seperately) for the pwainstall module.
Currently I have it like this:
[code]
My html looks like this:
[code]

Shouldn't the bu

[2020-08-18 02:36] iang0ld commented on #385
Also the button doesn't show in the demo on Edge or Firefox.  That has stopped my from going further as it looks this component doesn't work.  Is seems to only work in Chrome.

[2020-08-21 00:27] uurcank opened #392 "Do not hide install button in the modal window when browser is not compatible."
**Describe the bug**
Install button is hidden when browser is not compatible.

**To Reproduce**
Open the install modal in Safari

**Expected behavior**
 It should just disable the button and perhaps say "This browser is not compatible for installation."

**Additional context**
Hiding the button is bad design. If you use a custom install button, you may want to use the modal window to communicate r

[2020-08-21 00:47] uurcank commented on #392
also if pwa is installed, it should say "installed" and disable the button

[2020-08-25 00:42] lee-leonardo commented on #392
@uurcank
From the sounds of it, it looks like you are interested in creating a custom button.
To do so make sure you use the `usecustom` attribute, and implement a button and interactions yourself.

The last portion about opening the modal and hiding the install button, my suggestion would be to fork the component and service a custom version of it within your application. That'll give you control

[2020-08-25 00:53] lee-leonardo commented on #385
@xererske
Could I get a url from you to repro this issue? I suspect it has to do with a combination of your hosting service and some resource cache on your browser. Within this component we are using browser based functionality to install applications.

[2020-08-25 01:01] iang0ld commented on #385
Sorry. Wrote my own.

From: Leonardo Lee <notifications@github.com>
Sent: Tuesday, 25 August 2020 10:54 AM
To: pwa-builder/pwa-install <pwa-install@noreply.github.com>
Cc: Ian Gold <Ian@order2invoice.com>; Comment <comment@noreply.github.com>
Subject: Re: [pwa-builder/pwa-install] Button doesn't show and serviceworker returns 404 (#385)

@xererske<https://github.com/xererske>
Could I get a url fro

[2020-08-25 07:54] xererske commented on #385
@iang0ld what did you write?

[2020-08-25 08:10] iang0ld commented on #385
I got this from the net and modified it.

<a id="btnInstall" title="Install onto your Home Screen" style="display:none"><i class="fal fa-mobile-android-alt"></i>&nbsp;&nbsp;Install App</a>

<script>
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker
                .register('/pwabuilder-sw.js')
                .then(function () { console.log('Service Worker Registered

[2020-08-25 16:27] lee-leonardo commented on #385
@iang0ld your issue is different than the listed issue above. Thanks for your input, if you wish to propose a change you can open an issue or create a pull request. But @xererske could I get a url for testing purposes so that I can better understand the issue you are seeing?

[2020-08-26 10:26] xererske commented on #385
@lee-leonardo https://craftsmen-dev.bettywebblocks.com/

[2020-08-26 13:56] xererske commented on #385
@lee-leonardo
Wrong url..
This is the one: https://maarten-van-wersch-development.bettywebblocks.com/

[2020-08-26 16:52] lee-leonardo commented on #385
@xererske digging into it more, it looks like how bettyblocks is serving up assets will impact how you are able to access those resources. For instance at the time of checking this issue the path to your assets folder is:

`https://assets.bettyblocks.com/fa2497488ee941968145a08cfed91a61_assets/files`

The hash definitely will change from time to time so if there's some environment variable that re

[2020-08-26 20:04] #1 closed

[2020-08-30 18:10] xererske commented on #385
@lee-leonardo
Thanks for your answer.
Still it doesn't work for me. Could you check my url: https://www.enabl.works/

Also the not showing button is still a mystery to me. Could this be caused by the service worker script? Shouldn't it already work?

Thanks

[2020-08-31 08:20] rizwan-ishtiaq opened #405 "iphone 5 install button stays visible after adding home"
**Describe the bug**
On Iphone5 button stays visible even user had added application to home screen.

**To Reproduce**
Nothing special, simply adding <pwa-install></<pwa-install> in my react component.

**Expected behavior**
Once user added application on home screen button should be hidden.

**Smartphone:**
 - Device: iPhone5
 - OS: 10.3.4 (14G61)
 - Browser safari
 - Version 10.3.4

[2020-08-31 09:28] rizwan-ishtiaq opened #406 "Override Component CSS without Shadow Parts"
**Question in detail**
Shadow Parts is a good way to control design. But In old broswers it will not work. For example safari 10. Can you suggest some mehtod from which i can change design in old browsers with can example?

**Describe alternatives you've considered**
In documentation i can see `usecustom`  i assume i can implement a button and interactions myself. But how can you provide any examp

[2020-08-31 10:19] rizwan-ishtiaq opened #407 "Install model messing up content when features are given in manifest file"
**Describe the bug**
On iphone5 when model opens, featuers goes behind the application short name. Content will be total messup.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to location where you have your install button
2. Click on install button
3. See problem on model

**Expected behavior**
Content should be properly align and readable.

**Smartphone:**
 - Device: iPhone5
 - OS: 10.

[2020-08-31 19:53] uurcank commented on #392
@lee-leonardo  I think this is a general requirement and that's why I opened an issue.

If the modal is opened in a browsers that does not support PWA, the user would not know what to do. The library should be able to communicate that. The simplest solution would be to show a disabled "install" button, instead of completely hiding it.

[2020-09-03 01:47] lee-leonardo commented on #385
@xererske
Your service worker will not work until you register the component, the pwa-update component takes care of that, but it needs to know where your service worker is. The same with the manifest with the pwa-install component.

Your hash has changed, meaning that url you used to serve the service worker is invalid now. The other

Returning a 404: https://www.enabl.works/pwabuilder-sw.js
This

[2020-09-03 17:18] lee-leonardo commented on #406
@rizwan-ishtiaq
You should be able to use css variables and modify them with the parent element's css, using the :host selector.
Here's the google developer's tutorial.
https://developers.google.com/web/fundamentals/web-components/shadowdom#host

I checked mdn and it looks like it should work on Safari 10.

https://developer.mozilla.org/en-US/docs/Web/CSS/:host()
https://developer.mozilla.org/en-U

[2020-09-03 17:31] lee-leonardo commented on #405
@rizwan-ishtiaq I am looking into this atm, this issue seems to step from our logic checking against a navigator api feature that is not implemented in Safari. I will look to see if we can provide an analogue to handle this. Thank you for bringing this up and I'll notify this thread once we have a fix!

[2020-09-03 17:41] lee-leonardo commented on #405
Hey @rizwan-ishtiaq

Looking at the code we do not support Safari at this time. This is a feature we overlooked! I'll create a feature request and I have bandwidth to start working on it immediately!

[2020-09-03 17:42] lee-leonardo opened #414 "Safari "Add to Home Screen" Support"
iOS users have the ability to install PWAs via browsers with the "Add to Home Screen" functionality.
This is a feature request to add such a feature.

[2020-09-03 17:52] lee-leonardo commented on #407
@rizwan-ishtiaq after inspecting the code, we do not currently support Safari, but I will look into this with the other story that I've created to help our efforts in that regard!

[2020-09-03 18:32] lee-leonardo commented on #414
After some quick discussion with my team members, it sounds like there's no way to detect from Safari and a webapp if the web page has been installed.

[2020-09-03 18:35] lee-leonardo commented on #405
@rizwan-ishtiaq
After consulting another team member, it looks to be the case that we will not be able to support Safari as they are not exposing if a web app has been 'installed' via the 'Add to Home Screen' button thus there is no way to detect if the install component should hide or show in this case

[2020-09-07 19:41] bobvmierlo opened #418 "Multiple entries from the manifest file are not being processed"
**Describe the bug**
Multiple entries from the manifest.json file are not being processed by the pwa install script.

**To Reproduce**
I placed the following entries in the manifest.json file, however the only one that actually does something in the modal is the 'description'. All the rest don't change anything in the install modal.

[code]

**Expected behavior**
I would expect those entries to ch

[2020-09-08 16:30] lee-leonardo commented on #418
@bobvmierlo the text such as
`installbuttontext` and `iosinstallinfotext` are attributes on the element, not entries in the manifest.

[2020-09-08 17:01] #418 closed

[2020-09-11 06:37] produktive commented on #407
@lee-leonardo so given that safari is not supported and safari is the only way to add PWA on iOS, there is no install procedure of any kind for iOS?

[2020-09-20 19:08] aggressivecarwraps commented on #293
Hi, I'm getting this error now. It's 404-ing again.

[2020-09-20 19:11] Natetronn opened #425 "Error 404 pwa-install.js.map - again"
Same issue as this one:

https://github.com/pwa-builder/pwa-install/issues/293

`DevTools failed to load SourceMap: Could not load content for https://cdn.jsdelivr.net/npm/@pwabuilder/pwa-install.js.map: HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE`

[2020-09-30 03:35] sunBhabani opened #433 "PWABuilder build App not obey the Screen Orientation as per the Manifest defined"
Hi Support,

As I have already defined (**"orientation": "portrait"**) in my manifest for restrict my APP only view as a portrait mode. Not to view in Landscape mode. And it's also works fine and obey the orientation rule i.e Portrait-mode when I installed/run by ServiceWorker prompt.

But after building the APP on PWABuilder and then lunched by play-store, my APP don't obey the manifest defined o

[2020-09-30 19:43] aaronfc opened #434 "[Question] What's the best way to "wait" for the install button to appear?"
**Question in detail**
I am trying to figure out what is the best way to wait for the install button to appear, so that I can then show a proper "banner" or not.

**Is your question related to a problem? Please describe.**
Currently there are some times when the Install button won't appear (I am still investigating the reason for this) and some other times when the button appears but after a small

[2020-09-30 21:35] 7martinelli opened #435 "not working with ionic angular"
I have tried so many times to use pwa-install with ionic, but I had no success.
Can anybody confirm if it is working?
If it works, how can I do that?

[2020-10-08 16:01] jgw96 commented on #406
Hello all! As css variables are now widely supported and CSS shadow parts are rapidly gaining support I am going to be closing this for now. Thanks!

[2020-10-08 16:01] #406 closed

[2020-10-08 16:02] jgw96 commented on #435
@7martinelli do you have any example repos we can use to test this? Both Angular and Ionic fully support web components, so this should be working fine.

[2020-10-08 16:04] jgw96 commented on #433
Closing this as it is not relevant to the repo.

[2020-10-08 16:04] #433 closed

[2020-10-08 16:05] #385 closed

[2020-10-08 16:08] jgw96 commented on #407
@produktive We are pausing any iOS related work on this component until we have cleared some things up with Safari and Web Apps on iOS in general. Unfortunately iOS makes it very hard to ship PWAs and Web Apps in general, so this is taking some time.

[2020-10-08 17:19] 7martinelli commented on #435
index.html

[code]

home.page.html

`<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</stron

[2020-10-08 17:21] 7martinelli commented on #435
home.page.html

[code]

index.html

[code]

[2020-10-23 17:09] Mister-Hope opened #453 "[Question] npmignore"
Why is the package bundling all the files? 🙄

It does make sense to bundle ts files for ts users to import them. That's OK.

But why uploading the whole repo even including `.github` folder?

This will encrease the package size, and affects a package size display if that package is depending this package.

[2020-10-23 17:22] Mister-Hope opened #454 "[Question] LICENSE"
Can the repo use a standard format of MIT LICENSE file?

Github can not recognize it.

[2020-10-23 17:29] Mister-Hope opened #455 "[Question] Lack of docs"
The readme is a bit simple.

As you can see, it's had for people to debug it because it's difficult to serve a service worker on dev server.

While the readme is lack of description about property usage.

E.g.: How should I use the `showopen` property? What is the logic of displaying "install button" now? Will the button still appears even the PWA is installed after I set it to true? Or the button

[2020-10-24 07:35] Mister-Hope opened #456 "[Question] Release cycle"
I wonder when will you release the next version. 69 commits is after the current version.

I need these changes, (I know I can fork and publish it by myself), just a suggestion that maybe it's time to publish a new version after 4 month)

[2020-10-24 08:06] Mister-Hope opened #457 "isIOS type"
https://github.com/pwa-builder/pwa-install/blob/d5fabc828864df8a2712c485793bfa1a18b1798b/src/pwa-install.ts#L21

https://github.com/pwa-builder/pwa-install/blob/d5fabc828864df8a2712c485793bfa1a18b1798b/src/pwa-install.ts#L596-L601

Typescript will type maxTouchPoints as number, so it will think iOS can be any number less than 1(Though it can't)

It will give me errors when I import the ts file.

-

[2020-10-24 08:48] Mister-Hope commented on #455
The most rediculous thing is:

https://github.com/pwa-builder/pwa-install/blob/d5fabc828864df8a2712c485793bfa1a18b1798b/src/pwa-install.ts#L19

showOpen only appear once here

[2020-10-27 16:35] lee-leonardo commented on #453
@Mister-Hope are you using tree shaking? That could help with the bundle size on your end. I'm assuming that's the main reason why the package itself was upoading everything. I'll look to making the change on our end, it's a good point, not necessary to include the repo as is.

[2020-10-27 16:44] Mister-Hope commented on #453
I wany to use this package in my package, but now npm will calculate more size then it should be. That's what i mean.😅

[2020-10-27 17:03] lee-leonardo commented on #453
I understand, but with webpack or rollup tree shaking, in your end bundle it should only include the code, not anything else. That would be the expected behavior. npm will download everything onto your machine, but that's usually misleading and hence usually developers usually use bundle analysis tools.

https://www.npmjs.com/package/webpack-bundle-analyzer

[2020-10-27 21:34] lee-leonardo commented on #457
Just to clarify this ask:

From my understanding, the issue is that the value of isIOS is returning a number value hence a type mismatch. This is because of the short circuit that is being used within the logic, this is a bug, I'll fix it.

I am assuming as well that you have your tsconfig to be set to strict mode, which is why you are seeing this issue.

From what I gather `maxTouchPoints` is 0 m

[2020-10-27 21:35] lee-leonardo commented on #456
Apologies, this component definitely needs an update. I'll also make the component strict mode friendly as well.

[2020-10-27 21:40] lee-leonardo commented on #455
Thanks for bringing this up, I've taken a look, and it has no usages. I am assuming it was intended to be used, but then the spec changed and this attribute is not being used. I'm going to remove it alongside the other updates mentioned in other issues.

We do have guides on medium to help developers use the component.
https://medium.com/pwabuilder/installing-progressive-web-apps-b7274ebffe80

[2020-10-27 21:49] lee-leonardo commented on #454
The license follows the ISC format, which removes some of the unnecessary clauses in the MIT license. I understand the MIT label is within the license itself, but they are fundamentally the same. Is this an issue within Github or npm? From what I can tell it looks fine in npm.

[2020-10-27 21:54] lee-leonardo commented on #434
@aaronfc
There is a `usecustom` flag for you to take over the styling and presentation of the component or how it interact with your app. Using your custom component and a js reference to the component, you should then be able to interact with the methods section of the component.

The inconsistency of when the banner shows could be due to a lot of different reasons, google has a good guide on cre

[2020-10-27 21:57] lee-leonardo commented on #104
this is an accessibility concern as well. I'll make the modifications required alongside the laundry list of other smaller things

[2020-10-27 21:58] lee-leonardo commented on #5
support for dialogs is widely support across all browsers, will encompass this in my update

[2020-10-28 03:48] Mister-Hope commented on #457
You will need a type if you are using a dynamic import by using the import function, which the website provides.

 I'm currently using this on view press and view price is doing server side rendering to generate html files  More than a spa for search engines.

 I'm not sure, but I seemed to trigger some issues on server side rendering when jobs importing it in my entrance file.  I'm not just copyi

[2020-10-28 03:57] Mister-Hope commented on #454
Github is showing that it has a "other“ type of license.
 You can just follow the license format of webpack eslint and other famous repoes license.
![Screenshot_20201028-115528](https://user-images.githubusercontent.com/33315834/97389072-81a44980-1914-11eb-85b1-ee9c370e0557.jpg)
![Screenshot_20201028-115518](https://user-images.githubusercontent.com/33315834/97389077-849f3a00-1914-11eb-878e-51cce4

[2020-10-28 17:00] jgw96 commented on #453
Hello all! We are just using the standard bundling method with Rollup. While NPM does tell you that your downloading alot of code, it does this for every package and has always been misleading. As @lee-leonardo , I would recommend using a bundle analyzer of some sort. You can also use Edge devtools network tab https://docs.microsoft.com/en-us/microsoft-edge/devtools-guide-chromium/network/ to get

[2020-10-28 17:00] #453 closed

[2020-10-28 17:01] jgw96 commented on #454
Hello all! This is in fact a Github issue, we are using the license we are required to use. Thanks!

[2020-10-28 17:01] #454 closed

[2020-10-28 17:03] jgw96 commented on #455
@Mister-Hope lets also remember please that its actual people working behind the scenes on these projects. Because of that, calling something "rediculous" seems to be a little out of place. Let's please keep things professional (:

[2020-10-28 17:55] jgw96 commented on #434
Hello all! The install button will only show once the onBeforeInstallPrompt event is fired by the browser https://github.com/pwa-builder/pwa-install/blob/master/src/pwa-install.ts#L606 . Unfortunately (and this is something im discussing with the Edge team) Chromium is very inconsistent on when that event fires, but we can only show the install button after that fires as the `prompt` method (https

[2020-10-28 17:55] #434 closed

[2020-10-28 18:12] jgw96 commented on #457
Hey @Mister-Hope , unfortunately this use case (of trying to use the typescript files directly to use the component) is not a supported scenario, and as you have run into, its going to cause issues. This component is packaged as a standalone NPM package and is meant to be either installed from NPM as any other NPM package https://www.npmjs.com/package/@pwabuilder/pwainstall#npm or through a script

[2020-10-28 18:12] #457 closed

[2020-10-29 17:22] #455 closed

[2020-10-31 07:54] Mister-Hope commented on #453
Hey, bro ! What I see is from the npm docs, Is that it only encourage to upload the files which will be used when your module is required by another application, instead of uploading unrelated files.  It doesn't matter how you bundled or created the final output file.  And it also doesn't matter how the structure of the repo is.  But only the files which one will be used when your model is being r

[2020-11-03 19:05] #5 closed

[2020-11-03 19:06] #104 closed

[2020-11-28 12:42] #456 closed

[2020-12-03 05:38] richardtaylordawson opened #476 "Install Button with React Router"
**Describe the bug**
If installation is possible, the button in the modal will say something to the affect of "Install App", otherwise it will say "Cancel". When using an app that uses routing such as React Router, the second a user navigates to another page the button changes to "Cancel". If they refresh the page, then it works properly and it will say "Install App". I noticed this behavior with

[2020-12-03 05:46] richardtaylordawson opened #477 "usecustom & iOS"
**Describe the bug**
usecustom does not work with iOS devices

**To Reproduce**
If you use pass the usecustom prop in order to use your own custom button, it will still show the blue default button

**Expected behavior**
It should not show any button from the core

**Desktop (please complete the following information):**
iOS 14 Safari

**Smartphone (please complete the following information):**
iP

[2021-01-08 13:46] Niijimasama opened #488 "Uncaught ReferenceError: red is not defined"
Hi,
it is my first time using this tool.
I decided to follow the **"Example of grabbing from the DOM"** and added some links for testing purposes. Below is my code:
`<head>
  <script
    type="module"
    src="https://cdn.jsdelivr.net/npm/@pwabuilder/pwainstall"

</head>
<body>
<div class="container">
      <a href="app/login.php" class="btn">Login</a>
	<a href="app/register.php" class="btn">Regis

[2021-01-25 01:03] andrereus opened #496 "After navigating in a SPA with vue-router the install button is not visible anymore"
**Describe the bug**
After navigating in a SPA with vue-router the install button is not visible anymore. If the modal gets triggered with JavaScript from an other button only a cancel button gets displayed in the modal.
Only after page refresh the install button shows up again.

**To Reproduce**
Steps to reproduce the behavior:
1. If you navigate to a page with an install button (not open it dire

[2021-01-30 15:31] andrereus commented on #496
Not using the install button anymore because it just doesn't seem reliable enough.
Found even additional problems / bugs when testing with Browserstack.
Issue Board here doen't seem that active either.

[2021-02-05 14:39] #496 closed

[2021-02-13 15:08] erfan226 opened #509 "Screenshots & Features not showing up"
**Desc**
Screenshots & Features are not displayed nor created in the DOM in the first place.

**Screenshots**
![image](https://user-images.githubusercontent.com/17782938/107853282-36ae3380-6e2a-11eb-96dc-29fe4d0299cd.png)

**Desktop:**
 - OS: MacOS
 - Browser: Edge
 - Version last

**Smartphone:**
 - Device: Samsung J8
 - OS: Android 10
 - Browser Chrome
 - Version last

[2021-03-06 16:33] wouterk1MSS commented on #488
noticed the same issue, seems to be 2 spelling errors on the page, one missing " as well.
  const ref = document.getElementById("installComponent");
  ref.getInstalledStatus();

[2021-04-27 08:05] yyyyy1111122 opened #547 "Popup[Question]"
Hello. What can I do to prevent this window from being displayed http://joxi.ru/YmEj1EOTMNxgD2? I need the installation to start right after I click the install button. I can do it?

[2021-04-30 13:48] yyyyy1111122 commented on #547
ребята ответьте кому-нибудь на мой вопрос. Пожалуйста.

[2021-04-30 13:48] yyyyy1111122 commented on #547
guys answer someone my question. You are welcome.

[2021-05-10 16:40] jamesboss99 opened #555 "[Question]Problem creating the install"
I am novice
My website is: https://linkeei.com
My PWA app is working well
I have created a page on my website and want to show an Install button on that page.
I'm trying to apply this code:

<head>
  <script
    type="module"
    src="https://cdn.jsdelivr.net/npm/@pwabuilder/pwainstall"

</head>
<body>
  <script async defer>
    var installComponent = document.createElement("pwa-install");
    doc

[2021-05-19 08:47] mfwebmaster opened #557 "Change install button text"
Good day all

Not sure if this is the correct forum but I would like to know how to change the text within the install b button.

I understand two elements involved in the process
<pwa-install></pwa-install>
installbuttontext

I cannot figure out how to change this.

[2021-05-19 14:00] erfan226 commented on #557
Hi. You can use the markup below, I hope it does what you need to achieve:
<pwa-install explainer="some description" installbuttontext="Install this app now!" featuresheader="some textual detail..." descriptionheader="more explanations" cancelbuttontext="Cancel installation" pwa-install="Install..."></pwa-install>

[2021-06-06 17:20] #509 closed

[2021-07-11 04:51] pvo13 commented on #414
What about the tip number four on this page? I implemented in my pwa and it works. Please have a look:
https://www.netguru.com/codestories/pwa-ios

[2021-07-20 07:21] #557 closed

[2021-10-20 23:36] digitarald opened #594 "Glitch demo is broken"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://pwainstall.glitch.me/

**Expected behavior**
Install button isn't visible.

**Screenshots**
![image](https://user-images.githubusercontent.com/8599/138186724-50b957a1-7f6c-45ad-ac83-7a6b48c3f28d.png)

**Desktop (please complete the following information):**
E

[2021-12-17 15:28] kleyber-ribeiro opened #596 "Install Button can't be added inside a DIV with ID"
Hi all,
I've tried to put the INSTALL button inside a DIV, in order to get a better view in my HTML, but when I try to install in a IPhone, the message "Tap the share button and then 'Add to Homescreen'" does not appear.

How to reproduce it:
**1st test (working):**
`                    <div class="mbr-section-btn mt-3" id="in_button">
                        <script async defer>